<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Erro 404</title>
  <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
  <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,900" rel="stylesheet">
  <script src="/jquery/jquery.min.js"></script>
  <script src="/bootstrap/js/bootstrap.min.js"></script>
   <link rel="stylesheet" type="text/css" href="/css/erro404.css">
  <!--colocanto icone na aba da pagina-->
  <link rel="shortcut icon" href="/icone.png" type="image/x-png" />
</head>

<body>
  <div class="container">
    <img src="/erro404.png" class="img-responsive center-block erro404"></a>
    <a href="/"> <p class="text-center texto">CLICK AQUI PARA VOLTAR PARA PAGINA INICIAL DO PACIENTE</p></a>
  </div>



</body>
</html>
