<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
  <title>Paciente - Colabore, informe, se informe</title>
  <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="/bootstrap-switch/css/bootstrap3/bootstrap-switch.min.css" rel="stylesheet">
	<link href="/chardin.js/chardinjs.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/css/maps_search_box.css">
<!-- hover css -->
  <link rel="stylesheet" type="text/css" href="/hover/hover.css">
    <!-- escolher melhor e pior rank -->
  <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
  <!--colocanto icone na aba da pagina-->
  <link rel="shortcut icon" href="/icone.png" type="image/x-png" />
  <link rel="stylesheet" type="text/css" href="/css/style_login.css">
</head>
<body id="page-top"  >


    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    Menu <i class="fa fa-bars"></i>
                </button>
                <a href="#"><img src="/logoteste2.png" class="img-responsive center-block logomenu" alt="Logo Ham.io" id="logomenu"></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul id="top" class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->

                    <li>
                        <a  href="#01topo">Início</a>
                    </li>
                    <li>
                        <a  href="#p2mapa">Mapa</a>
                    </li>
                    <li>
                        <a  href="#p3rank">Ranking</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
  <section id="01topo" class=" content-section p1">
  	<div class="container-fluid">
      <div class="col-xs-8 col-xs-offset-2
                  col-sm-8 col-sm-offset-2
                  col-md-4 col-md-offset-4
                  col-lg-4 col-lg-offset-4">
                  <img src="/logoteste.png" class="img-responsive center-block" alt="Logo Ham.io" id="logo">
      </div>
    </div>
	  <div class="container-fluid">
      <p class="txt01 text-center">
          O Sistema tem como objetivo a interação dos usuários em relação ao serviço prestado em estabelecimentos públicos de saúde.
      </p>
          <!--<a class="scroll" href="#p2mapa"><img src="seta.png" class="img-responsive center-block seta"></a>-->
  	</div>
  </section>


	<section class="p2" >
   <p class="txtMapa text-center">
          <span>Selecione uma instituição abaixo para ver seu nível de aprovação ou avaliar anonimamente</span></p>
          <div id="p2mapa"></div>

  	<div id="espmap" class="espantmapa"></div>
    <div id="espmap" class="espantmapa"></div>
    	<input id="pac-input" class="controls" type="text" data-intro="Aqui você pode procurar o estabelecimento que procura pelo nome ou pelo endereço." data-position="top" placeholder="Procurar Estabelecimentos (por nome ou endereço)">

      <div id="map" class="row" data-intro="Cada um dos 'anéis' do mapa são pontos de concentração de estabelecimentos de saúde. Clique em um para aproximar até o local desejado." data-position="bottom"></div>

      <div class="container-fluid">
        <div class=" col-xs-2
                col-sm-2
                col-md-2
                col-lg-2 "
                >
          <button aria-hidden="true" type="button" id="help">Ajuda</button>
        </div>

        <div class=" col-xs-10
                col-sm-10
                col-md-10
                col-lg-10 text-right "
                >
          <span class="glyphicon glyphicon-alert" aria-hidden="true"></span><span class="text-aletramapa"> Algumas informações de localização podem estar incorretas. </span>
        </div>
      </div>

	</section>

  <section id="p3rank" class="p3" name="mais" >
    <div id="rankings"  class="container-fluid contp3">
    	<h2>
      	<p class="titulop3 text-center">Ranking de Instituições:

        <input type="checkbox" v-model="checkbox" id="mudaropcao" class="mudaropcao" data-toggle="toggle" data-on="Maior" data-off="Menor" data-onstyle="default" data-size="large" data-width="120" data-height="50">
        aprovação</p></h2>
      <div class="container escolhercidade">
        <div class="col-xs-12
                    col-sm-12
                    col-md-8 col-md-offset-2
                    col-lg-8 col-lg-offset-2">
				<input type="text" class="form-control input-lg caixacidade" id="cidades" placeholder="Digite uma cidade">
				<div class="col-xs-12
                    col-sm-10
                    col-md-8
                    col-lg-8 " v-if="filtro">
          <p class="text-center titulop3-2">Mostrando resultados para: {{ filtro }}</p>

        </div>
          <div class="col-xs-12
                    col-sm-2
                    col-md-4
                    col-lg-4 " v-if="filtro">
					 <a  class="btnRemover" v-on:click="removeFiltro" name="btn">Remover Filtro</a>
				  </div>
        </div>
      </div>
      <div class="container-fluid ranks">

        <div class="ranking01 col-xs-12
                      col-sm-4
                      col-md-4
                      col-lg-4
                      ">

          <div id="flip1">
            <div class="btn button hvr-grow">
                <img src="presensademedicos.png" class="img-responsive center-block" >
                <img id="icone1" name="desligado1" src="iconeseta02.png" class="img-responsive center-block setarank" >
            </div>
          </div>

          <div id="panel1">
						<table class="table table-hover table-condensed">
						<th>Nome</th>
						<th class="text-right">Nota</th>
              <tr v-for="item in ranking.presencaEquipe" class="trr">
                <td> <a v-bind:href="'/estabelecimentos/'+ item._id" class="instanciarank"> {{ item.nome }} </a></td>
                <td class="text-right"> {{ item.avgNota }} </td>
              </tr>
            </table>
            <a v-bind:href="'/ranking/presencaEquipe?order=' + checkbox + '&cidade='+ filtro" class="btnListaCompleta"><b>Acesse a lista completa</b></a>
          </div>

          </div>

          <div class="  ranking02 col-xs-12
                        col-sm-4
                        col-md-4
                        col-lg-4
                        ">
          <div id="flip4">
            <div class="btn button hvr-grow">
             <img src="tempoDeEspera.png" class="img-responsive center-block" >
             <img id="icone4" name="desligado4" src="iconeseta02.png" class="img-responsive center-block setarank" >
            </div>
          </div>
          <div id="panel4">
						<table class="table table-hover table-condensed">
						<th class="th2">Nome</th>
						<th class="text-right th2">Nota</th>
              <tr v-for="item in ranking.tempoEspera">
                <td> <a v-bind:href="'/estabelecimentos/'+ item._id" class="instanciarank"> {{ item.nome }} </a></td>
                <td class="text-right"> {{ item.avgNota }} </td>
              </tr>
            </table>
            <a v-bind:href="'/ranking/tempoEspera?order=' + checkbox + '&cidade='+ filtro" class="btnListaCompleta"><b>Acesse a lista completa</b></a>
          </div>
        </div>
                <div class="row separaranks02"></div>

        <div class="ranking01 col-xs-12
                    col-sm-4
                    col-md-4
                    col-lg-4
                    ">
          <div id="flip6">
            <div class="btn button hvr-grow">
             <img src="atendimento.png" class="img-responsive center-block" >
             <img id="icone6" name="desligado6" src="iconeseta02.png" class="img-responsive center-block setarank" >
           </div>
          </div>
          <div id="panel6">
						<table class="table table-hover table-condensed">
						<th>Nome</th>
						<th class="text-right">Nota</th>
              <tr v-for="item in ranking.qualidadeAtendimento" class="trr">
                <td> <a v-bind:href="'/estabelecimentos/'+ item._id" class="instanciarank trr"> {{ item.nome }} </a></td>
                <td class="text-right"> {{ item.avgNota }} </td>
              </tr>
            </table>
            <a v-bind:href="'/ranking/qualidadeAtendimento?order=' + checkbox + '&cidade='+ filtro" class="btnListaCompleta"><b>Acesse a lista completa</b></a>
          </div>
        </div>

        <div class="row separaranks01"></div>

        <div class="ranking02 col-xs-12
                      col-sm-4
                      col-md-4
                      col-lg-4
                      ">
          <div id="flip5">
            <div class="btn button hvr-grow">
             <img src="equipamento.png" class="img-responsive center-block" >
             <img id="icone5" name="desligado5" src="iconeseta01.png" class="img-responsive center-block setarank" >
            </div>
          </div>
          <div id="panel5">
						<table class="table table-hover table-condensed">
						<th class="th2">Nome</th>
						<th class="text-right th2">Nota</th>
              <tr v-for="item in ranking.equipamentos" >
                <td> <a v-bind:href="'/estabelecimentos/'+ item._id" class="instanciarank"> {{ item.nome }} </a></td>
                <td class="text-right"> {{ item.avgNota }} </td>
              </tr>
            </table>
            <a v-bind:href="'/ranking/equipamentos?order=' + checkbox + '&cidade='+ filtro" class="btnListaCompleta"><b>Acesse a lista completa</b></a>
          </div>
        </div>



          <div class="ranking01 col-xs-12
                      col-sm-4
                      col-md-4
                      col-lg-4
                      ">
          <div id="flip2">
            <div class="btn button hvr-grow">
              <img src="medicamento.png" class="img-responsive center-block" >
              <img id="icone2" name="desligado2" src="iconeseta01.png" class="img-responsive center-block setarank" >
            </div>
          </div>
          <div id="panel2">
						<table class="table table-hover table-condensed">
						<th>Nome</th>
						<th class="text-right">Nota</th>
              <tr v-for="item in ranking.medicamentos" class="trr">
                <td> <a v-bind:href="'/estabelecimentos/'+ item._id" class="instanciarank trr"> {{ item.nome }} </a></td>
                <td class="text-right"> {{ item.avgNota }} </td>
              </tr>
            </table>
            <a v-bind:href="'/ranking/medicamentos?order=' + checkbox + '&cidade='+ filtro" class="btnListaCompleta"><b>Acesse a lista completa</b></a>
          </div>
        </div>

         <div class="ranking02 col-xs-12
                      col-sm-4
                      col-md-4
                      col-lg-4
                     ">
          <div id="flip3">
          <div class="btn button hvr-grow">
             <img src="infra.png" class="img-responsive center-block" >
             <img id="icone3" name="desligado3" src="iconeseta01.png" class="img-responsive center-block setarank" >
           </div>
          </div>
          <div id="panel3">
						<table class="table table-hover table-condensed">
						<th class="th2" >Nome</th>
						<th class="text-right th2">Nota</th>
              <tr v-for="item in ranking.infraestrutura" >
                <td> <a v-bind:href="'/estabelecimentos/'+ item._id" class="instanciarank"> {{ item.nome }} </a></td>
                <td class="text-right" > {{ item.avgNota }} </td>
              </tr>
            </table>
            <a v-bind:href="'/ranking/infraestrutura?order=' + checkbox + '&cidade='+ filtro" class="btnListaCompleta"><b>Acesse a lista completa</b></a>
          </div>
        </div>
        <div class="row espEntreLinha">
        </div>
      </div>

  </section>

  <section id="p4parceiros" class="p4">
  	<div class="container">
    <h2>
        <p class="titulop6 text-center"><b>NOSSOS PARCEIROS</b></p>



      </h2>
    	<div class="col-xs-6
                  col-sm-6
                  col-md-3
                  col-lg-3">
                  <a href="https://www.facebook.com/DantasDesignSC/">
              <img src="apoio02tc.png"
                onMouseOver="this.src='apoio02.png'"
                onMouseOut="this.src='apoio02tc.png'"
                class="img-responsive center-block"
              ></a>

      </div>

      <div class="col-xs-6
                  col-sm-6
                  col-md-3
                  col-lg-3  ">
              <a href="http://hackfest.com.br/">
              <img src="apoio01tc.png"
                onMouseOver="this.src='apoio01.png'"
                onMouseOut="this.src='apoio01tc.png'"
                 class="img-responsive center-block"
              ></a>
      </div>

      <div class="col-xs-6
                  col-sm-6
                  col-md-3
                  col-lg-3">
              <a href="http://nutes.uepb.edu.br/">
              <img src="apoio03tc.png"
                onMouseOver="this.src='apoio03.png'"
                onMouseOut="this.src='apoio03tc.png'"
                 class="img-responsive center-block"
              ></a>
      </div>

      <div class="col-xs-6
                  col-sm-6
                  col-md-3
                  col-lg-3">
              <a href="https://www.facebook.com/bodopitaartesanatocg/">
              <img src="apoio04tc.png"
                onMouseOver="this.src='apoio04.png'"
                onMouseOut="this.src='apoio04tc.png'"
                 class="img-responsive center-block"
              ></a>
      </div>
		</div>
  </section>


  <section class="p5" >

	<ul class="topnav">
	  <li><a href="/">Home</a></li>
	  <li><a href="sobre">Sobre</a></li>
	  <li><a href="privacidade">Privacidade</a></li>
	  <li class="right"><a href="ajuda">Ajuda</a></li>
	</ul>

  </section>

  <section class="p6">
    <p class="text-center textorodape">©Paciente 2017</p>

  </section>
  <script src="/jquery/jquery.min.js"></script>
  <script src="/bootstrap/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/lodash/4.17.4/lodash.min.js"></script>
  <script src="/bootstrap-switch/js/bootstrap-switch.min.js"></script>
  <script src="/autocomplete/jquery.autocomplete.js"></script>
  <script src="/vue/vue.min.js"></script>
  <script src="/vue-resource/vue-resource.js" charset="utf-8"></script>
  <script src="/chardin.js/chardinjs.min.js" charset="utf-8"></script>
  <script src="/js/ranking.js" charset="utf-8"></script>
  <script src="/js/index.js" charset="utf-8"></script>
  <script src="/js/maps.js" charset="utf-8"></script>
  <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBw-kUn3g74P2z_rTgItryoWqUYfWZbqXo&libraries=places&callback=initMap" async defer></script>
  <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
</body>
</html>
