<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Privacidade</title>
  <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
  <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/css/privacidade.css">
  <script src="/jquery/jquery.min.js"></script>
  <script src="/bootstrap/js/bootstrap.min.js"></script>

  <!--colocanto icone na aba da pagina-->
  <link rel="shortcut icon" href="/icone.png" type="image/x-png" />
</head>

<body>
<!--popups modals-->

<!--modal avaliar falta de medicos-->

  <!--conteiner de toda a pagina-->
  <header>
      <nav class=" navbar navbar-fixed topo">
        <div class="logo">
            <a href="/" type="button" id="logoPaciente"> <img src="logoteste2.png" class="img-responsive center-block logopaciente" alt="Logo Paciente - home"></a>
          </div>
        </div>
      </nav>

      <nav class=" navbar  navbar-fixed topo2">
        <div class="topo2-info ">

            <h3>PRIVACIDADE</h3>
        </a>
        </div>
      </nav>
    </header>
     <!-- <i class="fa fa-heartbeat fa-2x bola" aria-hidden="true"></i> -->
<section class="par container-fluid">

  <hr>
  <h2>Política de Privacidade</h2>
  <p>Esta Política de Privacidade visa regular o tratamento que será dado a toda e qualquer informação coletada no site. O PaCiente tem como compromisso resguardar a privacidade dos dados gerados pelos usuários que permitam a identificação do Usuário, buscando sempre proteger o caráter sigiloso de referidos dados e evitar sua divulgação, bem como o acesso e o uso impróprio por terceiros. O Usuário reconhece e aceita que a utilização do PaCiente está sujeita não apenas a esta Política de Privacidade. Ao acessar ou utilizar o site, o Usuário concorda que se aplicarão os termos e condições aqui previstos.</p>
  <p>O PaCiente compromete-se a reter as informações fornecidas pelo Usuário apenas pelo prazo necessário para atender aos fins propostos pela aplicação, observada a legislação aplicável. Este aplicativo adotará todas as precauções razoáveis para resguardar as informações disponibilizadas pelo Usuário, armazenando-as em ambiente seguro e protegendo-as com os sistemas de segurança normalmente utilizados. O acesso às informações coletadas é restrito a colaboradores e pessoas autorizadas pelo PaCiente, os quais estão obrigadas a observar esta Política de Privacidade. </p>
  <p>O Usuário garante a veracidade e exatidão de todas as informações que fornecer no site, assumindo a responsabilidade daí decorrente. O PaCiente não assume qualquer responsabilidade por quaisquer informações fornecidas pelo Usuário, seja em relação ao próprio Usuário seja em relação a terceiros. </p>
  <p>Quando o Usuário acessa o PaCiente são enviados um ou mais cookies para o equipamento utilizado no acesso com o propósito de aperfeiçoar o desempenho do aplicativo, bem como personalizar a experiência de acesso do Usuário. </p>
  <p>Durante a utilização do aplicativo pelo Usuário, o PaCiente armazenará algumas informações em seus servidores para finalidades de segurança e/ou estatísticas. </p>
  <p>O PaCiente utilizará as informações coletadas para interesses comerciais legítimos, dentre os quais indica os seguintes propósitos:
    <ul>
      <li>elaborar análises estatísticas, mantendo todavia o anonimato de cada Usuário e evitando que este possa ser individualizado e identificado;</li>
      <li>observar leis e regulamentos aplicáveis; </li>
      <li>suporte ao usuário em casos de localização;</li>
      <li>qualificar os serviços de saúde.</li>
    </ul>
  </p>
  <p>O Usuário reconhece e aceita que o PaCiente poderá divulgar as informações fornecidas pelo Usuário, no todo ou em parte, para responder a ordens ou processos judiciais, bem como para investigar e/ou tomar quaisquer medidas contra eventual suspeita de atividade ilícita ou de violação a esta Política de Privacidade, aos Termos de Uso do aplicativo ou da legislação aplicável. Em qualquer outro caso, o Usuário será consultado previamente a divulgação de qualquer das informações fornecidas. </p>
  <p>Esta Política de Privacidade aplica-se exclusivamente ao PaCiente, não se responsabilizando o referido aplicativo pela privacidade do Usuário ao acessar sites de terceiros, ainda que o Usuário tenha sido direcionado para referidos sites de terceiro por meio de links disponibilizados no PaCiente. Portanto, recomendamos ao Usuário que, ao ser redirecionado para sites externos, consulte a respectiva política de privacidade e os termos de uso antes de fornecer quaisquer informações. </p>
  <p>Esta Política de Privacidade poderá sofrer aprimoramentos esporádicos, sendo que a versão atual estará sempre disponível no PaCiente para consulta periódica do Usuário. A utilização deste aplicativo após qualquer alteração desta Política de Privacidade constitui aceitação de referidas alterações pelo Usuário. Eventual alteração que reduza os direitos do Usuário dependerá de novo consentimento expresso deste. </p>
  <hr>
</section>


<section class="p5" >
<ul class="topnav">
  <li><a href="/">Home</a></li>
  <li><a href="sobre">Sobre</a></li>
  <li><a href="privacidade">Privacidade</a></li>
  <li class="right"><a href="ajuda">Ajuda</a></li>
</ul>

  </section>

  <section class="p6">
    <p class="text-center textorodape">©Paciente 2017</p>

  </section>

</div>
</body>
</html>
