<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Sobre</title>
  <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">
  <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/css/sobre.css">
  <script src="/jquery/jquery.min.js"></script>
  <script src="/bootstrap/js/bootstrap.min.js"></script>

  <!--colocanto icone na aba da pagina-->
  <link rel="shortcut icon" href="/icone.png" type="image/x-png" />
</head>

<body>
<!--popups modals-->

<!--modal avaliar falta de medicos-->

  <!--conteiner de toda a pagina-->
  <header>
      <nav class=" navbar navbar-fixed topo">
        <div class="logo">
            <a href="/" type="button" id="logoPaciente"> <img src="logoteste2.png" class="img-responsive center-block logopaciente" alt="Logo Paciente - home"></a>
          </div>
        </div>
      </nav>

      <nav class=" navbar  navbar-fixed topo2">
        <div class="topo2-info">

            <h3>SOBRE</h3>
        </a>
        </div>
      </nav>
    </header>
     <!-- <i class="fa fa-heartbeat fa-2x bola" aria-hidden="true"></i> -->
<section class="par">

  <hr>
  <h2>História</h2>
  <p>Esse aplicativo foi criado por um grupo de estudantes da UEPB e IFPB, no evento conhecido como “Hackfest - Contra a corrupção”, que tem como objetivo a interação dos usuários em relação aos serviços em estabelecimentos de saúde. </p>
  <p>Pensando em ajudar no combate à corrupção que assola o país e em observância as principais déficits na saúde pública que estão relacionados a problemas de gestão, infraestrutura e falta de recursos, sejam eles humanos ou materiais, o presente aplicativo visa a inovar, trazendo ferramentas que possibilitam a interação dos usuários de forma simples e efetiva.</p>
  <p>O “PaCiente” foi desenvolvido visando qualificar os serviços médicos pela população, de modo que facilite a interação entre os usuários e os atendimentos almejados.</p>
  <p>O sistema desenvolvido é de fundamental importância, tendo em vista que a inter-relação entre os serviços de saúde solicitados e os pacientes serão meios que possibilitarão aos órgãos públicos uma visão do déficit apresentado nessas avaliações, de modo que proporcione uma melhor fiscalização dos recursos repassados para este setor.</p>
  <p>Sendo assim, o que se tem verificado é que a proposta lançada por este aplicativo irá melhorar a execução dos serviços de saúde. Desse modo, esta plataforma possibilita um ágil acesso às informações no tocante aos serviços que se encontram em déficit.</p>
  <p>Apresentando uma front-end com desing arrojado e interativo, o software possibita que qualquer usuário consiga desenvolver as atividades desempenhadas pelo site em apenas duas telas.</p>
  <p>Assim, esta ferramenta Web direcionada principalmente para a fiscalização de serviços de saúde pelos usuários é um meio de solucionar os principais problemas que órgãos públicos federais, estaduais e municipais enfrentam, além de possibilitar que, com as trocas de gestão dos representantes do povo, os dados fornecidos nesta plataforma não sejam perdidos.</p>
  <p>Desse modo, os recursos direcionados à saúde serão melhores aproveitados, gerando uma efetiva prestação de serviços, de modo que será um benefício mútuo para a população e o Poder Público.</p>
</section>
  <section class="grupo">
  <hr>
  <h2>Equipe</h2>

  <div class="bs-team list-group">
    <div class="list-group-item">

      <a href="https://www.facebook.com/amanda.guedes.942145" class="team-member">
        <img alt="/" height="40" src="/Amanda.jpg" width="40">
        <strong>Amanda Guedes</strong>
        <span class="follow">
        <i class="fa fa-facebook-square" aria-hidden="true"></i>
        <small>@Amanda.Guedes</small>
        </span>
      </a>

    </div>
    <div class="list-group-item">

      <a href="https://www.facebook.com/FabioGuimaraesD" class="team-member">
        <img alt="/" height="40" src="/Fabio.jpg" width="40">
        <strong>Fábio Guimarães</strong>
        <span class="follow">
        <i class="fa fa-facebook-square" aria-hidden="true"></i>
        <small>@FabioGuimaraesD</small>
        </span>
      </a>

    </div>
    <div class="list-group-item">

      <a href="https://github.com/lfcamara" class="team-member">
        <img alt="/" height="40" src="Leo.jpg" width="40">
        <strong>Leonardo Câmara</strong>
        <span class="follow">
        <i class="fa fa-github" aria-hidden="true"></i>
        <small>@lfcamara</small>
        </span>
      </a>

    </div>
    <div class="list-group-item">

       <a href="https://www.facebook.com/manuella.dantasalves" class="team-member">
        <img alt="/" height="40" src="/Manu.jpg" width="40">
        <strong>Manuella Dantas</strong>
        <span class="follow">
        <i class="fa fa-facebook-square" aria-hidden="true"></i>
        <small>@Manu.dantasalves</small>
        </span>
      </a>

    </div>
    <div class="list-group-item">

      <a href="https://www.linkedin.com/in/marcelo-trajano-337851131/" class="team-member">
        <img alt="/" height="40" src="/Marcelo.jpg" width="40">
        <strong>Marcelo Trajano</strong>
        <span class="follow">
        <img alt="/" height="15" src="https://cdn0.iconfinder.com/data/icons/social-flat-rounded-rects/512/linkedin-512.png" >
        <small>@Marcelo-trajano</small>
        </span>
      </a>
    </div>
    <div class="list-group-item">

      <a href="https://www.facebook.com/rubem.100" class="team-member">
        <img alt="/" height="40" src="/Rubem.jpg" width="40">
        <strong>Rubem</strong>
        <span class="follow">
        <i class="fa fa-facebook-square" aria-hidden="true"></i>
        <small>@Rubem.100</small>
        </span>
      </a>

    </div>
      <div class="list-group-item">

      <a href="https://github.com/yassern" class="team-member">
        <img alt="/" height="40" src="/Yasser.jpg" width="40">
        <strong>Yasser Nascimento</strong>
        <span class="follow">
        <i class="fa fa-github" aria-hidden="true"></i>
        <small>@Yassern</small>
        </span>

      </a>

    </div>
  </div>
</section>

  <section class="p4">
    <div class="container-fluid">
      <div class="col-xs-12
                  col-sm-12
                  col-md-12
                  col-lg-12">
        <img src="mascotes.png" class="img-responsive center-block">
      </div>
    </div>
  </section>

<section class="p5" >
<ul class="topnav">
  <li><a href="/">Home</a></li>
  <li><a href="sobre">Sobre</a></li>
  <li><a href="privacidade">Privacidade</a></li>
  <li class="right"><a href="ajuda">Ajuda</a></li>
</ul>

  </section>

  <section class="p6">
    <p class="text-center textorodape">©Paciente 2017</p>

  </section>

</div>
</body>
</html>
