body {
	text-align: justify;
	font-family:Nunito;
}
.par {
	 margin-right: 20%;
	 margin-left: 20%;
	 font-size: 16px;	

}
 @media (max-width: 700px){
 	.par {
	 margin-right: 5%;
	 margin-left: 5%;	
}

}

h3{
	font-size: 40px;
	text-align: center;
	color: #170C48;
	 margin-right: 20%;
 	margin-left: 20%;
margin-right: 20%;
	 margin-left: 20%;
 	justify-content: center;


}
h2{
	font-size: 40px;
	text-align: center;
	align-items: center;
	 margin-right: 20%;
 	margin-left: 20%;

 	justify-content: center;


}
/*editando nav, menu*/

.topo{
    background-color: #170C48;
    padding-top: 0%;
    border-radius: 0px;
}

.logo{
  display: flex;
  align-items: center;
  justify-content: center;
}

 .logopaciente{
 	opacity:0.65;
 	padding-top:8px;
 	padding-bottom: 2px;
 	margin: 8px;
 }

 .logopaciente:hover{
 	opacity:1;
 }
.estab {

  max-width: 100%;
  max-height: 100%;
  width: 20em;
}
@media screen and (max-width: 700px) {
    .panel-group{
        margin:0px !important;
    }
}
.topo2{
	background: #F0F0F0  URL(../hospitais.png)top;
	background-size:cover;
    padding-top: 0%;
    margin-top: -20px;
    -webkit-box-shadow: 0px 2px 30px #606062;
     border-radius: 0px;
}
.topo-info{
	padding-bottom: 10px !important;
}
.topo2-icone{
	padding: 0px;
	margin: 0px;
	margin-top: -100px;
	margin-left: 50px;

}
.team-member
{
	position: relative;
    display: block;
    margin-bottom: -1px;
    background-color: #fff;
    font-size: 15px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}

/*rodape*/

.p5{
	margin-top: 50px; 
	background-color: #170C48;
	display: flex;
	justify-content: center;
	align-items: center;

	
}
.titulop6{
	color: #170C48;
	font-size: 40px !important;
	font-family: 'Nunito', sans-serif!important;
    list-style-type: none;
}


.p6{
	background-color: #080029!important;
	padding: 10px;

	
}
.textorodape{
	color: #E6EBF3;
	font-size: 15px !important;
	font-family: 'Nunito', sans-serif!important;
	padding-top: 2%;

}
ul.topnav li a:hover{background-color: #080029;color:#fff;}

ul.topnav {
	color: #fff;
	font-size: 15px !important;
	font-family: 'Nunito', sans-serif!important;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.topnav li {float: left;}

ul.topnav li a {
	padding: 20px;
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
}


@media screen and (max-width: 600px){
	ul.topnav {font-size: 16px !important;
				width: 100%;}
    ul.topnav li.right, 
    ul.topnav li {float: none;}
}
