.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 300px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

.pac-container {
  font-family: Roboto;
}

#type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px;
}

#type-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

#target {
  width: 345px;
}

.autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { display: block; border-bottom: 1px solid #000; }

#pac-input{
    color: #000;
  font-size: 15px !important;
  font-family: 'Nunito', sans-serif!important;
  width: 35%;
}
@media (max-width: 700px){
  #pac-input {
  width: 75%;
  }}

.autocomplete-suggestion {
      color: #BDBEBF;
      font-size: 15px !important;
      font-family: 'Nunito', sans-serif!important;
      margin: 2px;
      padding-top: 5px;
      padding-bottom: 5px;  
}
.autocomplete-suggestion:nth-child(odd) {
    background: #F5F5F5;
}

.autocomplete-suggestions strong {
  color: #00A6F3;
  }

.autocomplete-suggestion:hover{
  color: #fff;
  background-color: #0E004C;

}