body {
	
	font-family:Nunito;
	text-align: justify;
}
.par {
	 margin-right: 20%;
	 margin-left: 20%;
	 font-size: 16px;	

}
 @media (max-width: 700px){
 	.par {
	 margin-right: 5%;
	 margin-left: 5%;	
}

}

h3{
	font-size: 40px;
	text-align: center;
	color: #170C48;

 	justify-content: center;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                 0px 8px 13px rgba(0,0,0,0.1),
                 0px 18px 23px rgba(0,0,0,0.1);

}
hr{

  border-top: 3px double #8c8b8b;
  margin-bottom: 5%;

 
}

/*editando nav, menu*/

.topo{
    background-color: #170C48;
    padding-top: 0%;
    border-radius: 0px;

}

.logo{
  display: flex;
  align-items: center;
  justify-content: center;
}

 .logopaciente{
 	opacity:0.65;
 	padding-top:8px;
 	padding-bottom: 2px;
 	margin: 8px;
 }

 .logopaciente:hover{
 	opacity:1;
 }

.topo2{
	background: #F0F0F0  URL(../hospitais.png)top;
	background-size:cover;
    padding-top: 0%;
    margin-top: -20px;
    -webkit-box-shadow: 0px 2px 30px #606062;
     border-radius: 0px;
     margin-bottom: 5%;
}
.topo-info{
	padding-bottom: 10px !important;
}
.topo2-icone{
	padding: 0px;
	margin: 0px;
	margin-top: -100px;
	margin-left: 50px;

}


/*rodape*/

.p5{
	margin-top: 50px; 
	background-color: #170C48;
	display: flex;
	justify-content: center;
	align-items: center;

	
}
.titulop6{
	color: #170C48;
	font-size: 40px !important;
	font-family: 'Nunito', sans-serif!important;
    list-style-type: none;
}


.p6{
	background-color: #080029!important;
	padding: 10px;

	
}
.textorodape{
	color: #E6EBF3;
	font-size: 15px !important;
	font-family: 'Nunito', sans-serif!important;
	padding-top: 2%;

}
ul.topnav li a:hover{background-color: #080029;color:#fff;}

ul.topnav {
	color: #fff;
	font-size: 15px !important;
	font-family: 'Nunito', sans-serif!important;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.topnav li {float: left;}

ul.topnav li a {
	padding: 20px;
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
}


@media screen and (max-width: 600px){
	ul.topnav {font-size: 16px !important;
				width: 100%;}
    ul.topnav li.right, 
    ul.topnav li {float: none;}
}
