/*editando nav, menu*/

.topo{
    background-color: #170C48;;
    padding-top: 0%;
    border-radius: 0px;
}

.logo{
  display: flex;
  align-items: center;
  justify-content: center
}

 .logopaciente{
 	opacity:0.65;
 	padding-top:10px;
 	padding-bottom: 5px;
 	margin: 10px;
 }

 .logopaciente:hover{
 	opacity:1;
 }

.topo2{
	background: #F0F0F0  URL(../hospitais.png)top;
	background-size:cover;
    padding-top: 0%;
    margin-top: -20px;
    -webkit-box-shadow: 0px 2px 30px #606062;
     border-radius: 0px;
}
.topo-info{
	padding-bottom: 10px !important;
}
.topo2-icone{
	padding: 0px;
	margin: 0px;
	margin-top: -100px;
	margin-left: 50px;

}

.topo2-texto{
	 	margin-top: 2% !important;
	 	margin-bottom: 2% !important;
}
.topo2-texto1{
 	color: #170C48 !important;
	font-size: 25px !important;
	font-family: 'Nunito', sans-serif!important;
	padding: 10px;
 }

.topo2-texto2{
 	padding-top: 2%;
 	color: #170C48 ;
	font-size: 20px !important;
	font-family: 'Nunito', sans-serif!important;
		padding: 10px;
 }

@media (max-width: 800px){
	.topo2-icone{
		display: none;
	}
	.topo2-texto{
	 	padding: 5px;
	}
}

@media (max-width: 700px){

	.topo2-texto{
	 	margin-top: 4% !important;
	 	margin-bottom: 4% !important;
}
	.topo2-texto1{
		font-size: 20px !important;
		  display: flex;
  align-items: center;
  justify-content: center

	}
		.topo2-texto2{
			font-size: 15px !important;
		  display: flex;
  align-items: center;
  justify-content: center

	}

}



/*ranking*/
.p2{


}
.p2-1{
	
}

.titulop3{
	color: #170C48;
	font-size: 40px !important;
	font-family: 'Nunito', sans-serif!important;
	padding: 30px;

}

.p3{
	padding: 0px !important;
	margin: 0px !important;
	padding-bottom: 5% !important;
	padding-top: 5% !important;	
}



.ranking01{
	background: #fff URL(../fundor1.png)top;
	background-size:cover;
	font-family: 'Nunito', sans-serif!important;
	margin: 0px;
	color: #170C48 ;
    padding: 5%;


}

.ranking02{
	background: #f0f0f0 URL(../fundor2.png)top;
	background-size:cover;
	font-family: 'Nunito', sans-serif!important;
	padding: 0px;
	margin: 0px;
	color: #170C48 ;
	padding: 5%;
}
.ranking03{
	background: #fff URL(../fundor3.png)top;
	background-size:cover;
	font-family: 'Nunito', sans-serif!important;
	padding: 0px;
	margin: 0px;
	color: #170C48 ;
    padding: 5%;
}
.ranking04{
	background: #f0f0f0 URL(../fundor4.png)top;
	background-size:cover;
	font-family: 'Nunito', sans-serif!important;
	padding: 0px;
	margin: 0px;
	color: #170C48 ;
	padding: 5%;
}
.ranking05{
	background: #fff URL(../fundor5.png)top;
	background-size:cover;
	font-family: 'Nunito', sans-serif!important;
	padding: 0px;
	margin: 0px;
	color: #170C48 ;
    padding: 5%;
}
.ranking06{
	background: #f0f0f0 URL(../fundor6.png)top;
	background-size:cover;
	font-family: 'Nunito', sans-serif!important;
	padding: 0px;
	margin: 0px;
	color: #170C48 ;
	padding: 5%;
}

.avaliar{
	background-color: #170C48 ;
	padding: 8px;
	padding-left: 30px;
	padding-right: 30px;
	font-family: 'Nunito', sans-serif!important;
	color: #fff;
	border-radius: 10px;

}

.avaliar:hover{
	background-color: #00A6F3;
	color: #fff;

}

.avaliar:link,.avaliar:visited, .avaliar:active{
	text-decoration: none;
	color: #fff;
	border: 0px;

}

.tituloavalia{
	font-size: 25px;
}
.descricao{
	margin-top: 10px !important;
	margin-bottom: 40px !important;
	font-size: 18px;

}

 @media (max-width: 700px){
 	.titulop3{
 		font-size: 30px !important;
 		padding-top: 40px;
		padding-bottom: 2%;
		line-height: 100%;
	}
	
}
tr:hover{
	background-color: #9F346C!important;
}
.trr:hover{
	background-color: #602341!important;
}

#panel1,#panel2,#panel3,#panel4,#panel5,#panel6{
    padding: 30px;
    padding-bottom:0px;
    padding-top: 0px; 
}

/*rodape*/




ul.topnav {
	color: #fff;
	font-size: 15px !important;
	font-family: 'Nunito', sans-serif!important;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.topnav li {float: left;}

ul.topnav li a {
	padding: 20px;
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
}

ul.topnav li a:hover{background-color: #9F346C;}

@media screen and (max-width: 600px){
	ul.topnav {font-size: 16px !important;
				width: 100%;}
    ul.topnav li.right, 
    ul.topnav li {float: none;}
}

/*parte 6*/
/*
x
x
x*/
.p5{
	margin-top: 100px; 
	background-color: #170C48;
	display: flex;
	justify-content: center;
	align-items: center;

	
}
.titulop6{
	color: #170C48;
	font-size: 40px !important;
	font-family: 'Nunito', sans-serif!important;
    list-style-type: none;
}
.p6{
	background-color: #080029!important;
	padding: 10px;
}
.textorodape{
	color: #E6EBF3;
	font-size: 15px !important;
	font-family: 'Nunito', sans-serif!important;
	padding-top: 2%;
}
ul.topnav li a:hover{background-color: #080029;color:#fff;}

/*css popup*/
/*
/*
/*
x*/

/*duvidas de campos do formulario*/


.duvida01{
	color: #ccc;
}
.duvida01:hover{
	color: #170C48;
}

.corpoformulario{
	margin: 0px;
}

.essa{
	margin:  10px;
}

.classificacao{
  display: flex;
  align-items: center;
  justify-content: center
  padding: 0;
  margin: 0;
  margin-top: 20px;
  margin-bottom: 20px;

}

input[type="radio"] {
        visibility: hidden;
}
.tituloformularioclassificacao{
		display: flex;
  	align-items: center;
 	justify-content: center;
}
    
.reacao {
	background-color:#B4B7BB;

}
.reacao:hover {
	background-color:#ccc;
}

input[type="radio"]:checked+.reacao {
    background-color: #170C48;

}
.pulalinhaform{
	margin-top: 20px;
}
.pulalinhaform2{
	margin-top: 0px;
}



.enviar{
	display: flex;
  	align-items: center;
 	justify-content: center;
	background-color: #ccc;
}

.btn-enviar{
	background-color: #170C48;
	color: #fff;
	margin: 20px;
	padding: 8px;
	font-size: 15px !important;
	font-family: 'Nunito', sans-serif!important;
	-webkit-box-shadow: 2px 2px 1px #606062;
    border-radius: 10px;
    border: 0px;
    width: 80%  !important;
}