body{ 
	margin: 0px;   
}
.p1{
	background: #9f346c  URL(../topo.png)top;
	background-size:cover;
	background-position: center;
	-webkit-box-shadow: 0px 4px 100px #000 !important;
	padding-bottom: 10%;
}
#logo{
	padding-top: 5%;
	padding-bottom: 5%;
}
.txt01{
	text-shadow: #000 1px 1px 1px;
	color: #fff;
	font-size: 30px !important;
	font-family: 'Nunito', sans-serif!important;
	padding: 2px;
	line-height: 140%;
}
.seta{
	opacity: 0.8;
	width: 8%;
	margin-top: 30px;
	margin-bottom: 30px;
}
.seta:hover{
	opacity: 1;
}

@media (max-width: 700px){
	video{
		display: none;
	}
	
	.txt01{
		font-size: 14px !important;
		text-shadow: #000 0px 0px 0px;
	}
	.seta{
		width: 10%;
	}
}

/*parte 2
*
*
*/
#espmap{
	margin-top: 2%;
	padding: 10px;
}

#map {
    position: relative;
	background-color: #fff;
    height: 500px;
    padding: 0px;
    margin: 0px;
 }


 @media (max-width: 700px){
 		#map{
 			height: 300px;
	}
}


/*parte 3*/
/*
x
x
x*/

.p3{
	background: URL(../linha.png)top;
	background-repeat: repeat-x;
	background-color: #602341;
	padding: 0px !important;
	margin: 0px !important;
	padding-bottom: 5% !important;
	padding-top: 5% !important;
	-webkit-box-shadow: 0px 20px 60px #ccc !important;
	
}

.titulop3{
	text-shadow: #000 1px 1px 1px;
	color: #fff;
	font-size: 40px !important;
	font-family: 'Nunito', sans-serif!important;
	padding: 2px;
	line-height: 140%;
	margin-top: 2px;
	color: #fff;
	padding-top: 15px;
	padding-bottom: 2%;
}
/*ESCOLHER PIOR OU MELHO*/
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/*FIM DA ESCOLHA PIOR OU MELHO*/
.titulop4{
		text-shadow: #000 1px 1px 1px;
	color: #fff;
	font-size: 20px !important;
	font-family: 'Nunito', sans-serif!important;
	padding: 2px;
	line-height: 140%;
	margin-top: 2px;
	color: #fff;
	padding-top: 15px;
	padding-bottom: 2%;

}

.ranking01{
	background-color: #602341;
	padding: 0px;
	margin: 0px;
	color: #fff;
    background-color: rgba(255, 255, 255, 0.0);
}

.ranking02{
	background-color: #9F346C;
	padding: 0px;
	-webkit-box-shadow: 4px 4px 20px #4A0C2C;
	margin: 0px;
	color: #fff;
}

.setarank{
	margin-bottom: 0px;
	margin-top: -30px; 
	display: flex;
	justify-content: center;
	align-items: center;
	width: 80%;
	opacity: 0.5;

}

 @media (max-width: 700px){
 	.titulop3{
 		font-size: 30px !important;
 		padding-top: 40px;
		padding-bottom: 2%;
		line-height: 100%;
	}
	
}
tr:hover{
	background-color: #9F346C!important;
}
.trr:hover{
	background-color: #602341!important;
}

#panel1,#panel2,#panel3,#panel4,#panel5,#panel6{
    display: none;
    padding: 30px;
    padding-bottom:0px;
    padding-top: 0px; 
}

/*parte 4*/
/*
x
x
x*/

.p4{
	padding-top: 10%;

}


/*parte 5*/
/*
x
x
x*/

.p5{
	background-color: #602341;
	display: flex;
	justify-content: center;
	align-items: center;
	
}

ul.topnav {
	color: #fff;
	font-size: 15px !important;
	font-family: 'Nunito', sans-serif!important;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.topnav li {float: left;}

ul.topnav li a {
	padding: 20px;
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
}

ul.topnav li a:hover{background-color: #9F346C;}

@media screen and (max-width: 600px){
	ul.topnav {font-size: 16px !important;
				width: 100%;}
    ul.topnav li.right, 
    ul.topnav li {float: none;}
}

/*parte 6*/
/*
x
x
x*/
.p6{
	background-color: #9F346C!important;
	padding: 20px;
	
}
.textorodape{
	color: #602341;
	font-size: 15px !important;
	font-family: 'Nunito', sans-serif!important;
	padding-top: 5%;

}